<form class="w-50 p-3 m-5 border border-3" (ngSubmit)="onSubmit(nameInput.value, phoneInput.value)">
  <fieldset>
    <legend>Оставьте заявку</legend>
    <div class="mb-3">
      <label for="name" class="form-label">Имя</label>
      <input type="text" id="name" class="form-control" placeholder="Ваше имя" #nameInput>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Номер телефона</label>
      <input type="text" id="phone" class="form-control" placeholder="Ваш номер телефона" #phoneInput>
    </div>
    <button type="submit" class="btn btn-success mt-2">Отправить</button>
  </fieldset>
</form>
